@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Kanit', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
    position: relative;
}

button {
    font-family: 'Kanit', sans-serif;
}

/* -------------- HomaPage -------------- */
.bgHome {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.nav {
    width: 55%;
    margin-left: 10%;
}

.nav div .signup {
    background: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: 300;
}

.content-text {
    height: 65%;
    width: 40%;
}

.text .title-text {
    line-height: 6rem;
}

.content-text .text h1 {
    font-size: 6rem;
}

.content-text .text h3 {
    font-size: 5rem;
    font-weight: 300;
}

.content-text .text p {
    font-size: 1.3rem;
    font-weight: 300;
}

.content-text .text .btn {
    background: black;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}


/* -------------- Dashboard -------------- */
.nav-item {
    padding: 0;
    display: flex;
    align-items: center;
    background: white;
    color: black;
    border-radius: 10px;
}

.nav-item:hover,
.nav-item.is-active {
    background: black;
    color: white;
    font-weight: 300;
}

.profile .profile-box {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
}

.task-status .card {
    height: 80%;
    border-radius: 10px;
    background: #F6F6F8;
    color: black;
    box-shadow: none;
}

.task-status .card .card-content {
    height: 100%;
}

.task-status .column {
    flex-basis: auto;
}

.calendar-box .calendar {
    background: #F6F6F8;
    border-radius: 20px;
    height: 92%;
}

.card-content i {
    font-size: 4rem;
    padding-right: 12px;
}

.card-content .text {
    line-height: 30px;
}

.card-content .text span {
    font-weight: 700;
}

.today-tasks div .button,
.notes div .button {
    background: #F6F6F8;
    color: #7D7D7D;
    padding: 3px 12px;
    border: none;
}

.today-tasks .task-box {
    height: 23%;
    background: #F6F6F8;
    color: black;
    border-radius: 10px;
}

.task-box .btn-status {
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.schedule-box {
    height: 4rem;
    border-radius: 10px;
    background: #F6F6F8;
}

.note-box .card {
    height: 90%;
    border-radius: 10px;
}

.note-box .card-image {
    background: #F6F6F8;
}

/* -------------- to-do-list -------------- */
.tabs {
    border-radius: 5px;
    overflow-x: hidden;
}

.tabs-content li {
    display: none;
    list-style: none;
}

.tabs-content li.is-active {
    display: block;
}

.tabs-content .table {
    background: #F6F6F8;
}


/* -------------- Schedule -------------- */
.content-calendar .calendar {
    border-radius: 20px;
    background: #F6F6F8;
}

.container-header .create-s {
    border-radius: 6px;
}



/* -------------- White Theme Calendar -------------- */
/* .jsCalendar {
    width: 20rem;
} */

.jsCalendar.white-theme table {
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(80, 80, 80, 0.4);
    color: #333333;
}

.jsCalendar.white-theme thead .jsCalendar-nav-left,
.jsCalendar.white-theme thead .jsCalendar-nav-right {
    color: #AFAFAF;
}

.jsCalendar.white-theme thead .jsCalendar-nav-left:hover,
.jsCalendar.white-theme thead .jsCalendar-nav-right:hover {
    background-color: #DADADA;
    color: #555555;
}

.jsCalendar.white-theme tbody td:hover {
    background-color: #DADADA;
    color: #000000;
}

.jsCalendar.white-theme tbody td.jsCalendar-selected {
    border: 2px solid #BFBFBF;
}

.jsCalendar.white-theme tbody td.jsCalendar-current {
    background-color: #222222;
}

.jsCalendar.white-theme tbody td.jsCalendar-current:hover {
    color: #FFFFFF;
}

.jsCalendar.white-theme tbody td.jsCalendar-previous,
.jsCalendar.white-theme tbody td.jsCalendar-next {
    color: #AFAFAF;
}

.jsCalendar.white-theme tbody td.jsCalendar-previous:hover,
.jsCalendar.white-theme tbody td.jsCalendar-next:hover {
    color: #000000;
}

.jsCalendar.white-theme ::-moz-selection {
    background: #AFAFAF;
}

.jsCalendar.white-theme ::selection {
    background: #AFAFAF;
}