<%- include('Header') -%>

    <body>

        <div class="container.is-fullhd" id="app">

            <!----------------------------------------------- header column ----------------------------------------------->
            <div class="columns" style="height: 12vh;">

                <!---------------------------- logo ---------------------------->
                <div class="column is-2">
                    <%- include('Logo') -%>
                </div>

                <!---------------------------- title ---------------------------->
                <div class="column is-6">
                    <div class="pt-5">
                        <span
                            class="is-size-2-fullhd is-size-3-widescreen has-text-weight-medium has-text-black">Dashboard</span>
                    </div>
                </div>

                <!---------------------------- profile member ---------------------------->
                <div class="profile level column">
                    <div class="level-right pt-4" style="width: 100%;">
                        <%- include('Profile') -%>
                    </div>
                </div>
            </div>

            <div class="container-content columns" style="height: 88vh;">

                <!----------------------------------------------- navbar column ----------------------------------------------->
                <div class="column is-2">

                    <!---------------------------- navbar ---------------------------->
                    <%- include('Navbar') -%>

                </div>

                <!----------------------------------------------- taday-tasks & notes column ----------------------------------------------->
                <div class="column is-6">

                    <!---------------------------- status tasks row ---------------------------->
                    <div class="content-ts columns" style="height: 16vh;">
                        <div class="task-status column">
                            <div class="columns" style="height: 18vh">

                                <!----------------- task done ----------------->
                                <div class="column">
                                    <div class="card">
                                        <div
                                            class="card-content is-flex is-justify-content-center is-align-items-center">
                                            <i class='bx bx-task'></i>
                                            <div class="text">
                                                <span
                                                    class="is-size-2-fullhd is-size-3-widescreen">{{task_done.length}}</span>
                                                <p class="is-size-5-fullhd is-size-6-widescreen">Task Done</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!----------------- task not start ----------------->
                                <div class="column">
                                    <div class="card">
                                        <div
                                            class="card-content is-flex is-justify-content-center is-align-items-center">
                                            <i class='bx bx-task-x'></i>
                                            <div class="text">
                                                <span
                                                    class="is-size-2-fullhd is-size-3-widescreen">{{task.length}}</span>
                                                <p class="is-size-5-fullhd is-size-6-widescreen">Task Not Started</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!----------------- notes ----------------->
                                <div class="column">
                                    <div class="card">
                                        <div
                                            class="card-content is-flex is-justify-content-center is-align-items-center">
                                            <i class='bx bx-note'></i>
                                            <div class="text">
                                                <span
                                                    class="is-size-2-fullhd is-size-3-widescreen">{{diary.length}}</span>
                                                <p class="is-size-5-fullhd is-size-6-widescreen">Notes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!---------------------------- today tasks row ---------------------------->
                    <div class="content-tt columns" style="height: 35vh;">
                        <div class="today-tasks column">

                            <!----------------- title ----------------->
                            <div class="level columns" style="height: 5vh;">
                                <div class="level-left">
                                    <div class="column">
                                        <span
                                            class="has-text-black is-size-4-fullhd has-text-weight-medium is-size-5-widescreen">
                                            Today Tasks
                                        </span>
                                    </div>
                                </div>

                                <div class="level-right">
                                    <div class="column">
                                        <a href="/Task" class="button is-size-7 has-text-weight-medium">View
                                            All</a>
                                    </div>
                                </div>
                            </div>

                            <!----------------- today tasks card ----------------->
                            <div class="columns" style="height: 30vh;">
                                <div class="clumns" style="width: 100%;">
                                    <div class="column" v-for="(item, index) in task" v-if="index < 3">
                                        <div class="level task-box p-3">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <a class="has-text-black"><i
                                                            class='bx bx-check-circle mx-4 is-size-3'></i></a>
                                                    <span class="is-size-5 has-text-weight-medium">{{ item.task_name
                                                        }}</span>
                                                </div>
                                            </div>

                                            <div class="level-right">
                                                <div class="level-item">
                                                    <span class="date mr-6">{{ item.due_date }}</span>
                                                    <span
                                                        class="btn-status has-background-black has-text-white has-text-weight-light mx-4">In
                                                        Progress</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------------------------- notes row ---------------------------->
                    <div class="content-note columns" style="height: 36vh;">
                        <div class="notes column">

                            <!----------------- title ----------------->
                            <div class="level columns" style="height: 5vh;">
                                <div class="level-left">
                                    <div class="column">
                                        <span
                                            class="has-text-black is-size-4-fullhd has-text-weight-medium is-size-5-widescreen">
                                            Notes
                                        </span>
                                    </div>
                                </div>

                                <div class="level-right">
                                    <div class="column">
                                        <a href="/NoteDiary" class="button is-size-7 has-text-weight-medium">View
                                            All</a>
                                    </div>
                                </div>
                            </div>

                            <!----------------- notes card ----------------->
                            <div class="columns mt-4 is-multiline" style="height: 33vh;">

                                <div class="column is-one-third" v-for="(item, index) in diary" v-if="index < 3">
                                    <div class="card" @click="openmodal(index)">
                                        <div class="card-image">
                                            <figure class="image is-2by1">
                                                <img :src="item.image" alt="Placeholder image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="media">
                                                <div class="media-content" style="width: 100%;">
                                                    <p class="title title-note is-4">{{item.title}}</p>
                                                    <!-- <p class="subtitle is-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                                                    <p class="subtitle">{{item.date}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------------------------------- calendar column ----------------------------------------------->
                <div class="column">

                    <!---------------------------- calendar row ---------------------------->
                    <div class="content-ts columns mr-5" style="height: 51vh;">
                        <div class="calendar-box ml-3 mt-3" style="width: 100%;">
                            <div class="dynaminCalendar calendar">
                                <header class="level m-0">
                                    <div class="level-left">
                                        <p class="current-date has-text-black ml-4"></p>
                                    </div>
                                    <div class="level-right">
                                        <span id="today" class="todaybtn todayDy-btn" onclick="todayIcon()">Today</span>
                                        <div class="icons icons-dynamic mr-2">
                                            <span id="prev"><i class='bx bxs-chevron-left has-text-black'></i></span>
                                            <span id="next"><i class='bx bxs-chevron-right has-text-black'></i></span>
                                        </div>
                                    </div>
                                </header>
                                <!-- Dynamic Calendar -->
                                <div class="dinamiccalendar pb-1">
                                    <ul class="weeks">
                                        <li>Sun</li>
                                        <li>Mon</li>
                                        <li>Tue</li>
                                        <li>Wed</li>
                                        <li>Thu</li>
                                        <li>Fri</li>
                                        <li>Sat</li>
                                    </ul>
                                    <ul class="days"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------------------------- today schedule row ---------------------------->
                    <div class="content-tt columns" style="height: 38vh;">
                        <div class="today-schedule today-tasks column">

                            <div class="level columns" style="height: 5vh;">
                                <div class="level-left">
                                    <div class="column">
                                        <span
                                            class="has-text-black is-size-4-fullhd has-text-weight-medium is-size-5-widescreen">
                                            Today Schedule
                                        </span>
                                    </div>
                                </div>

                                <div class="level-right">
                                    <div class="column">
                                        <a href="/Schedule" class="button is-size-7 has-text-weight-medium mr-5">View
                                            All</a>
                                    </div>
                                </div>
                            </div>

                            <div class="columns" style="height: 33vh;">
                                <div class="column mr-5">
                                    <div class="level schedule-box px-5 mb-4 has-background-black">
                                        <span id="schedule1" class="has-text-white has-text-weight-light">Today Task
                                            1</span>
                                    </div>

                                    <div class="level schedule-box px-5 mb-4">
                                        <span id="schedule2" class="has-text-black has-text-weight-light">Today Task
                                            2</span>
                                    </div>

                                    <div class="level schedule-box px-5 mb-4">
                                        <span id="schedule3" class="has-text-black has-text-weight-light">Today Task
                                            3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- modal-open-card -->
            <div class="modal" v-bind:class="{'is-active':show_modal_card}" v-for="(item, index) in content_card">
                <div class="modal-background" @click="show_modal = !show_modal_card"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">MY DIARY</p>
                        <button class="delete" aria-label="close" @click="show_modal_card = !show_modal_card"></button>
                    </header>
                    <section class="modal-card-body">
                        <!-- Content ... -->
                        <figure class="image is-5by3">
                            <img :src="item.image" alt="Placeholder image">
                        </figure>
                        <p class="title">{{item.title}}</p>
                        <p class="content">{{item.content}}</p>
                        <p class="content">{{item.date}} #mydiary</p>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-black" @click="show_modal_card = !show_modal_card">OK</button>
                    </footer>
                </div>
            </div>

            <!-- modal-open-card -->
        </div>

        <!-- script -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <script src="/script/data.js"></script>
        <script src="/script/dynamicCalendar.js"></script>
        <script src="/script/script.js"></script>
    </body>

    </html>