<%- include('Header') -%>

<body>
    <img class="bgHome" src="/Images/Bg-HomePage.png" alt="BG">

    <div class="nav">
        <div class="level my-6">

            <div class="level-left">
                <div class="level-item">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="#">
                            <img class="mr-2" src="/Images/Icons/logo-100.png">
                            <span
                                class="is-size-3-fullhd is-size-4-widescreen has-text-weight-bold has-text-black">LOGO</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <a href="/Login"><span class="login mr-6 has-text-black">Log In</span></a>
                    <a href="/Signup"><span class="signup">Sign Up</span></a>
                </div>
            </div>

        </div>
    </div>

    <div class="content-text is-flex is-align-items-center" style="margin-left: 10%;">
        <div class="text">
            <div class="title-text">
                <h1 class="m-0 has-text-black">Manage</h1>
                <h3 class="mt-0 has-text-black">your life better</h3>
            </div>
            <p class="mt-5 mb-6 has-text-black">Keeping life organized often feels like a juggling act. Just as
                swiftly
                as
                you move to catch
                one ball, Unfortunately, some balls are bound to hit the ground.</p>
            <!-- <a class="btn" href="/Dashboard"><span>Get Start</span></a> -->
        </div>
    </div>

</body>

</html>